@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #c50f0f; /* Vermelho/Laranja de destaque (do H1) */
  --color-secondary: #ff9900; /* Laranja/Amarelo, inspirado no fundo da imagem */
  --color-dark: #1a1a1a; /* Preto escuro, para fundos e botões */
  --color-medium: #4a4a4a; /* Cinza escuro, para inputs e texto secundário */
  --color-light: #ffffff; /* Branco, para textos principais */
}

body {
  background-color: #2e2e2e;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #fff;
}

header{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}

nav{
  width: 60%;
}

ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li{
  list-style: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 23px;
  transition: .5s;
  font-family: 'Kdam Thmor Pro', sans-serif;
} 

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: firebrick;
  transition: 0.5s;
}

#titulo{
  color: var(--color-primary);
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px black;
  margin-top: 20px;
}

#logo{
  width: 150px;
  height: auto;
  cursor: pointer;
}

#title {
  color: rgb(197, 15, 15);
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

img{
  cursor: pointer;
}

.galeria {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.fotos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.fotos-grid img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.fotos-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

footer{
  height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  background-color: #000; 
  padding: 10px 0;
}

footer #logo{
  width: 100px; 
}

footer span{
  color: var(--color-light);
  font-family:'Kdam Thmor Pro', sans-serif ; 
  font-size: 0.9rem;
}

.footer-navigation, .footer-list {
  display: none;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  #title {
    font-size: 1.6rem;
  }

  #logo1 {
    width: 100px;
  }

  .fotos-grid img {
    height: 300px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  #title {
    font-size: 1.4rem;
  }

  .fotos-grid img {
    height: 260px;
  }
}
